@charset "ISO-8859-1";
h1{
	color:red;
	text-align:center;
}
body{
	max-width:max-content;
	margin:auto;
	text-align:center;
	color:teal;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image:url("airport.jpg");
}
table{
	background:pink;
}